.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  height: auto;
  min-height: 120px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.headerDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.headerLeft {
  float: left;
}
.headerRight {
  float: right;
  padding-right: 10px;
  padding-top: 26px !important;
}
.headerRight a {
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 14px;
}
.headerRight a:hover {
  color: #f95959;
}
.bookBtn {
  background-color: #fff !important;
  color: #f95959 !important;
  border: 1px solid #f95959 !important;
  font-size: 1.2rem !important;
}
.bookBtn:hover {
  color: #fff !important;
  background-color: #f95959 !important;
}
.logoStyle {
  height: 100px;
  width: 120px;
  float: left;
  margin-left: 14px;
}
.mainWrapper {
  padding-top: 120px !important;
}
footer {
  background-color: #f3f3f3;
  width: 100%;
  height: auto;
  padding: 20px 10px;
}

.footerDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-top: 20px solid #f95959;
  min-height: 200px;
  padding-left: 16px !important;
  padding-top: 20px !important;
}

.footerDiv p {
  text-align: left;
  float: left;
  clear: both;
  display: block;
}

.footerDiv ul {
  list-style-type: none;
  width: 200px;
  float: left;
  text-align: left;
  display: block;
  clear: both;
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.footerDiv ul li {
  margin-bottom: 5px;
}

.footerDiv ul li a:hover {
  color: #f95959 !important;
}

main {
  width: 100%;
  height: auto;
  min-height: 500px;
}
.developmentDiv {
  width: 100%;
  height: auto;
  background-color: #ccedff;
}
.hostingContainer {
  padding-bottom: 5% !important;
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  display: inline-block;
}
.learningContainer {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #ccedff;
}
.learningContainerLeft {
  float: left;
  width: 40%;
  height: auto;
}
.learningContainerLeft p {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.learningContainerRight {
  float: right;
  width: 60%;
  height: 300px;
  overflow: hidden;
}

.learningContainerRight img {
  width: 100%;
}
.developmentDivLeft {
  float: left;
  width: 40%;
  max-height: 500px;
  height: auto;
  padding-left: 50px !important;
  padding-top: 50px !important;
}
.developmentDivRight {
  float: right;
  width: 60%;
  max-height: 500px;
  height: auto;
  overflow: hidden;
}
.developmentDivRight img {
  float: right;
  width: 100%;
  height: auto;
}
.developmentDivLeft h1 {
  width: 100%;
  font-size: 2rem;
  text-align: left;
  font-weight: 600;
}
.developmentDivLeft p {
  width: 100%;
  font-size: 1rem;
  text-align: left;
}
.developmentDivLeft a:last-child {
  float: left;
}
.developmentDivLeft img {
  width: 80%;
  opacity: 0.8;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.hostingContainer h1 {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
  font-weight: 600;
}
.tile {
  float: left;
  margin: 2.5% 6% 0% 6% !important;
  width: 20%;
}
.tile img {
  width: 30px;
  height: auto;
}
.headerRight ul {
  list-style-type: none;
}
.headerRight ul li {
  display: inline-block;
}
.menubar {
  display: none;
}

.ulShowMenu {
  display: block;
  transition: display 0.5s;
}

.ulHideMenu {
  display: block;
  transition: display 0.5s;
}

.buttonSpecial {
  /* border-bottom: 2px solid #ff0000 !important; */
  border-radius: 10px !important;
}

.customHeaderLink {
  color: gray;
}

.customHeaderLink:hover {
  color: #f95959 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 950px) {
  .ulShowMenu {
    display: block;
    height: auto;
    transition: height 2s;
  }

  .ulHideMenu {
    display: none;
    height: 0px;
    transition: height 2s;
  }
  .developmentDivLeft {
    background-color: #ccedff;
    padding-bottom: 40px !important;
    padding-left: 20px !important;
    padding-top: 20px !important;
  }

  .developmentDivLeft h1 {
    font-weight: 400;
    font-size: 1.8rem;
  }

  .tile {
    float: left;
    margin: 5% 6% 0% 6%;
    width: 20%;
  }
  .tile img {
    width: 24px;
    height: auto;
  }
  .tile h4 {
    font-size: 1rem !important;
  }
  .learningContainer {
    padding-bottom: 40px !important;
  }
  .hostingContainer {
    padding-bottom: 40px !important;
    padding-top: 20px !important;
  }
  .hostingContainer p {
    margin-bottom: 10px;
  }
  .headerRight nav {
    margin-top: 40px;
  }
  .headerRight ul {
    list-style-type: none;
    position: absolute;
    background-color: #fff;
    padding-bottom: 20px;
    width: 100%;
    right: 0;
    margin-top: 10px;
    box-shadow: 0px 1px 0px 1px #ddd;
  }
  .headerRight ul li {
    display: block;
    padding: 10px 0px;
    float: right;
    width: 100%;
  }

  .menubar {
    display: block;
    right: 0;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 40px;
  }
}
