.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header{
  height:auto;
  min-height: 120px;
  padding-top: 10px;
  /* border-bottom: 10px solid blue; */
}
.headerDiv{
  width: 100%;
  max-width: 1600px;
  margin-left:auto;
  margin-right: auto;
}
.headerLeft{
  float: left;
}
.headerRight{
  float:right;
  padding-top:24px;
  padding-right: 10px;
}
.headerRight a
{
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 14px;
}
.bookBtn{
  background-color: #FFF !important;
  color:#f95959 !important;
  border: 1px solid #f95959 !important;
  font-size: 1.2rem !important;
}
.bookBtn:hover{
  color: #FFF !important;
  background-color:#f95959 !important;
}
.logoStyle{
  height: 100px;
  width: 100%;
  margin-left:10px;
}

footer{
  background-color: #F3F3F3;
  width: 100%;
  height: auto;
  padding:20px 10px ;
}

.footerDiv{
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.footerLeft{
  float: left;
}

.footerLeft p{
  width: 100%;
  max-width: 450px;
  font-size: 2.4rem;
}

.footerRight{
  float: right;
}

main{
  width: 100%;
  height: auto;
  min-height: 500px;
}
.developmentDiv{
  width: 100%;
  height: auto;
  min-height: 500px;
  background-color:  #f6f8f7;
}
.hostingContainer{
  width: 100%;
  height: auto;
  min-height: 450px;
  background-color: #F3F3F3;
}
.learningContainer{
  width: 100%;
  height: auto;
  min-height: 500px;
  background-color: #ccedff;
}
.learningContainerLeft{
  float: left;
  width:40%;
  height: 500px;
}
.learningContainerLeft p{
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.learningContainerRight{
  float: right;
  width: 60%;
  height: 500px;
  overflow: hidden;
}

.learningContainerRight img{
  width: 100%;
}
.developmentDivLeft{
  float: left;
  width:40%;
  height: 500px;
}
.developmentDivRight{
  float: right;
  width: 60%;
  height: 500px;
  overflow: hidden;
}
.developmentDivRight img{
  float: right;
  width: 100%;
  height: auto;
}
.developmentDivLeft p{
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  margin-top:40px;
  margin-bottom:20px;
}
.developmentDivLeft img{
  width: 80%;
  opacity: 0.8;
  margin-top:100px;
  margin-left: 10%;
  margin-right: 10%;
}
.hostingContainer p{
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  padding-top:20px;
  margin-bottom: 0px;
}
.tile {
  float: left;
  margin: 2.5% 6% 0% 6%;
  width: 20%;
}
.tile img{
  width: 30px;
  height: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
